package view

import (
	e "regotth/internal/entity"
	"regotth/web/component"
)

templ TodoList(todos []e.Todo) {
	<div class="flex flex-col gap-4 p-4">
		<div id="list" class="flex flex-col gap-2">
			for _, todo := range todos {
				@component.Todo(todo)
			}
		</div>
		@component.AddTodo()
	</div>
}

templ TodoCreated(todo e.Todo) {
	@component.Todo(todo)
}
